<!-- 추천 / 비추천 박스 -->
<div class="row mt-4 text-center">
  <div class="col">
    <div class="border-box"> <!-- 테두리 박스 추가 -->
      <div class="d-flex justify-content-center">
        <div class="me-4 text-center">
          <button class="btn btn-link">
            <div class="circle text-primary"> <!-- text-primary 클래스 추가 -->
              <i class="fas fa-thumbs-up" style="font-size: 20px;"></i>
            </div>
          </button>
          <p class="mt-2"><b>추천</b></p>
          <p>0</p>
        </div>
        <div class="text-center">
          <button class="btn btn-link">
            <div class="circle text-danger"> <!-- text-danger 클래스 추가 -->
              <i class="fas fa-thumbs-down" style="font-size: 20px;"></i>
            </div>
          </button>
          <p class="mt-2"><b>비추천</b></p>
          <p>0</p>
        </div>
      </div>
    </div>
  </div>
</div>