<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<!-- Comments -->
<div class="row mt-5">
  <div class="col">
    <!-- Total Number of Comments -->
    <b>전체 댓글 <span th:text="${#lists.size(commentDtos)}">0</span>개</b>
    <div th:if="${#lists.size(commentDtos) > 0}">
      <hr class="custom-hr">
    </div>

    <!-- Comments List -->
    <div th:each="comment : ${commentDtos}" class="comment-item d-flex" style="display: flex; align-items: center; margin-bottom: 0px;">
      <p class="nickname" th:text="${comment.nickname}" style="width: 150px; text-align: left; margin-right: 10px;">댓글 작성자</p>
      <p class="comment-body" th:text="${comment.body}" style="flex-grow: 1; text-align: left;">댓글 내용</p>
    </div>

  </div>
</div>
</body>
</html>