<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<hr class="custom-hr" style="margin-bottom: 0px;">
<!-- 새 댓글 작성 -->
<div class="row mt-4">
  <div class="col">
    <form th:action="@{/articles/{id}/comments(id=${article.id})}" method="post">
      <div class="form-group">
        <textarea class="form-control" name="content" rows="3" placeholder="댓글을 입력하세요"
                  style="width: 97%; margin: 0 auto;"></textarea>
      </div>
      <div class="d-flex justify-content-end mt-2" style="margin-right: 1.5%;">
        <button type="submit" class="btn" style="color: white; background-color: #1FA877;">등록</button>
      </div>
    </form>
  </div>
</div>
<hr class="custom-hr" style="margin-bottom: 10px;">
</body>
</html>