<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${article.title}">게시글 수정 페이지</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
<!-- Header -->
<th:block th:replace="~{/layouts/header}"></th:block>



<!-- Article Edit Page -->
<div class="container">
  <div class="row mt-4">
    <div class="col">
      <!-- Back to Main Page -->
      <div class="text-left mt-3">
        <h3 style="margin: 0;">
          <a href="/articles" style="color: #1FA877; text-decoration: none;">메인 페이지로 돌아가기</a>
        </h3>
      </div>
      <hr class="custom-hr">

      <form class="container" th:action="@{/articles/{id}(id=${article.id})}" method="post">
        <input type="hidden" name="_method" value="patch"/>
        <!-- Sending CSRF Token -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input type="hidden" name="id" th:value="${article.id}"/>
        <!-- Edit Article Title -->
        <p><b>제목 수정</b></p>
        <div class="d-flex justify-content-between align-items-center">
          <input type="text" name="title" th:value="${article.title}" class="form-control form-control-lg" style="width: 100%;"/>
        </div>
        <br>
        <!-- Edit Article Content -->
        <p><b>내용 수정</b></p>
        <div>
          <textarea th:text="${article.content}" name="content" class="form-control form-control-lg"
                    style="width: 100%; height: 300px;">게시글 내용</textarea>
        </div>

        <div style="display: flex; justify-content: center; gap: 10px; margin-top: 20px;">
          <a class="btn btn-secondary" th:href="@{/articles/{id}(id=${article.id})}"
                  style="color: white; text-decoration: none;">취소</a>
          <button type="submit" class="btn" style="color: white; background-color: #1FA877;">등록</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<th:block th:replace="~{/layouts/footer}"></th:block>

</body>
</html>